@import "../../../scss/lib/theme/vars";

.create-post-container {
  width: 60vw;
  // height: 28vw;
  margin: 0 auto;

  .profile-headers {
    // border: 1px solid red;
    // text-align: center;
    padding-left: 20vw;
    margin: 2%;
    color: $white;
    font-size: $font-lg;
  }

  .button-container {
    // border: 1px solid red;
    button {
      margin-top: $gutter-sm;
      margin-left: 3vw;
      margin-bottom: $gutter-sm;
    }
  }
}

// @media screen and (max-width: 1400px) {
//   .create-post-container {
//     .button-container {
//       button {
//         margin-left: 22.5vw;
//       }
//     }
//   }
// }
//
// @media screen and (max-width: 800px) {
//   .create-post-container {
//     margin-top: 4em;
//
//     .profile-headers {
//       margin-top: 0;
//       font-size: 1.5em;
//     }
//   }
// }

@media screen and (max-width: 500px) {
  .create-post-container {
    .profile-headers {
      padding-left: 15vw;
    }
    .button-container {
      button {
        margin-left: 18vw;
      }
    }
  }
}
