<div class="create-post-container">
  <h2 class="profile-headers">1: Add a Title</h2>
  <div class="button-container" ng-if="!createPostContCtrl.showCreatePost">
    <button class="btn-secondary" ng-click="createPostContCtrl.showCreatePost = !createPostContainerCtrl.showCreatePost">Create Post</button>
  </div>

  <create-post ng-if="createPostContCtrl.showCreatePost" post="createPostContCtrl.post"></create-post>

  <h2 class="profile-headers">2: Add photos</h2>
  <!-- <post-item ng-if="createPostContCtrl.showUploadImage"></post-item> -->

</div>
