@import "../../../scss/lib/theme/vars";


.upload-image {
  margin: 1vw 0;
  color: $black;
  // border: 1px solid orange;
  .upload-container {

    button {
      margin-top: $gutter-sm/2;
      margin-left: 16.5vw;
      margin-bottom: $gutter-sm;
    }
    h3 {
      margin-left: 11vw;
      color: $white;
    }
  }
}

@media screen and (max-width: 800px) {
  .upload-image {
    .upload-container {
      button {
        padding: 2% 8%;
      }
    }
  }
}
