@import "../../scss/lib/theme/vars";

.profile {

  h2 {
    margin: 0 auto $gutter-sm auto;
    width: 28%;
    color: $white;
    font-size: $font-lg;
  }
  .posts-container {
    // border: 1px solid red;
    width: 90%;
    position: absolute;
    left: $gutter-std;
    padding-top: $gutter-std;
    background: $brand-background;
    margin-bottom: $gutter-std;
  }
}
