@import "../../scss/lib/theme/vars";

.profile {

  .posts-container {
    // border: 1px solid red;
    width: 90%;
    position: absolute;
    left: $gutter-std;
    padding-top: $gutter-std;
    background: $brand-background;
    margin-bottom: $gutter-std;
  }
}

@media screen and (max-width: 800px) {
  .profile {
    .posts-container {
      width: 100%;
      left: 0;
    }
  }
}
