<section class="user">
  <div class="user-container-inner" ng-if="!userCtrl.changeEdit.showEditProfile">

    <img class="profile-image" ng-src="{{userCtrl.user.profileImageURI}}">

    <div class="profile-info">
      <h3> {{userCtrl.user.username}} </h3>
      <!-- <h3> {{userCtrl.user.email}}</h3> -->
    </div>

    <div class="update-container" ng-if="!userCtrl.changeEdit.showEditProfile">
      <button class="btn-secondary" ng-click="userCtrl.changeEdit.showEditProfile = !userCtrl.changeEdit.showEditProfile">edit profile info</button>
    </div>

  </div>

  <edit-user ng-if="userCtrl.changeEdit.showEditProfile" user="userCtrl.user" change-edit="userCtrl.changeEdit"></edit-user>
  <upload-profile></upload-profile>
</section>
