@import "../../../scss/lib/theme/vars";

.home-posts {
  width: 60vw;
  background-color: $brand-background;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 2vw auto 4vw auto;

  .user-wrapper {
    float: left;
    color: $white;
    padding: 2%;
  }

  .info-wrapper {
    margin-left: 15vw;
    padding: $gutter-sm 0;
    color: $white;
    .post-created {
      font-size: $font-sm;
      padding: 2% 0;
    }
  }

  .post-images-wrapper {
    ul {
      li {
        img {
          width: 100%;
        }
      }
    }
  }
}
