@import "../../../scss/lib/theme/vars";

.create-post {

  .cp-title {
    font-size: 2.5vw;
    color: $white;
    text-align: center;
    margin: $gutter-std 0;
    font-family: $font-primary;
  }
  .post-form {
    // border: 1px solid red;
    height: 15vw;
    width: 100%;
    background-color: $brand-background;
    // padding: 3vw;
    .title {
      width: 70%;
      height: 7.5vw;
      margin: $gutter-std;
      font-size: $font-std;
      border: 1px solid $white;
      margin-bottom: 1vw;
      padding: 1%;
      background-color: transparent;
      color: $white;
    }

    button {
      margin: 4.5vw 2.5vw 0 0;
      float: right;
      font-size: 4vw;
      padding: 0% 3%;
    }
  }
}
