@import "../../scss/lib/theme/vars";

.container {
  text-align: center;
  // border: 2px solid red;
  width: 100vw;
  z-index: 0;
  position: absolute;
  top: 8vw;

  .circTxt {
    display: inline-block;
    // border: 1px solid red;
    color: $white;
    font-size: $font-std;
    font-family: $font-terciary;

  }
  .bottomTxt {
    display: inline-block;
    color: $white;
    margin-top: 4vw;
    font-family: $font-terciary;
    font-size: $font-std;

  }
  .bannerTxt {
    font-size: $font-lg *2;
    font-family: $font-primary;
    color: $white;
    margin-top: 5vw;
    // margin-left: 22vw;
  }
}

@media screen and (min-width: 1350px) {
  .container {
    .bannerTxt {
      font-size: 6em;
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    .bannerTxt {
      font-size: 2.5em;
    }
    .circTxt {
      font-size: $font-sm;
    }
    .bottomTxt {
      font-size: $font-sm;
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    .circTxt {
      font-size: 0.3em;
    }
    .bottomTxt {
      font-size: 0.3em;
    }
  }
}
