@import "../../../scss/lib/theme/vars";

.post-item {
  .current-item {
    display: inline-block;
    float: left;
    border: 1px solid $black;
    width: 40vw;
    margin-left: 3vw;
    margin-bottom: $gutter-std;
    .update-container {
      // border: 1px solid red;
      margin-right: $gutter-std;

      button {
        float: right;
        margin-left: $gutter-std;
        margin-top: $gutter-std;
        // display: block;
      }
    }
    .name-label {
      color: $white;
      padding-top: $gutter-sm;
      padding-left: $gutter-sm;

    }
  }
}

@media screen and (max-width: 800px) {
  .post-item {
    .current-item {
      width: 45vw;
    }
  }
}

@media screen and (max-width: 500px) {
  .post-item {
    .current-item {
      width: 92.5vw;
    }
  }
}
