@import "../../scss/lib/theme/vars";

.navbar {
  height: 4em;
  background: $brand-background;

  .home-logo {
    width: 20vw;
    float: left;
    margin: 1vw $gutter-std;
    h2 {
      font-size: $font-lg;
      color: $white;
      padding-left: $gutter-lg *2;

      &:hover {
        color: $brand-accent;
        cursor: pointer;
      }
    }
  }

  .buttons {
    float: right;
    width: 24vw;
    margin-top: 0.6em;
    margin-right: $gutter-std;

    .profile-icon {
      width: 1.8em;
      margin: 1%;
    }

  }
}
