@import "../../../scss/lib/theme/vars";

.edit {
  .edit-post {
    margin-top: $gutter-sm;
    .edit-container {
      // width: 30vw;
      // float: right;
      .title-input {
        float: right;
        width: 60%;
        
      }

    }
  }
}
